<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			li{
				list-style-type: none;
				width: 100%;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<p>
			<li>用户服务协议</li>

<li>欢迎您使用本服务！</li>

特别提醒：<br>
您使用我们提供的各项服务之前，请您务必审慎阅读、充分理解本协议各条款内容。我们努力用通俗易通、简明扼要的文字表达，并对本协议中与您权益存在重大关系的条款和个人敏感信息，采用粗体字进行标注以提示您注意。您一旦注册账户或使用本服务，即视为您已了解并完全同意本服务协议各项内容，包括我们对服务协议随时所做的任何修改，并成为本服务用户。如您不同意协议中的任何条款，您应立即停止访问或使用本服务。
<br>
一、定义<br>
1、本服务，亦称为“我们”。指您正在或将要使用的房抵贷金融风控软件服务，在符合法律法规的前提下为您提供个人、房产、公积金等维度的分析报告。
2、用户，亦称为“您”。指注册或登录软件等使用本服务的合法金融服务企业和具有完全民事权利能力和行为能力的金融服务从业者等。
3、客户或他人。指您使用本服务查询的对象，具有法律规定的完全民事权利能力和民事行为能力、能够独立承担民事责任的自然人。
<br>
二、您承诺并确认<br>
1、您在线填写并提交的申请资料和您为他人提供的服务均真实、有效、合法，否则您无法通过本服务的业务审核或由此造成的一切损失概由您自行承担（或者负责赔偿），我们不承担任何责任。
2、请妥善保管您的账户安全，包含但不仅限于账号、密码、第三方支付账户、手机动态验证码及个人资料等重要信息；在本服务中，前述账户的操作行为将视为您本人的行为，故切勿向其他任何人泄露前述信息。
3、若您和他人不具备定义的主体资格，请您立即停止注册或停止使用本服务。在使用本服务查询他人信息时，须获得其本人身份认证授权，可能包括身份证信息、人脸识别、房产证信息、公积金信息、手机号码和动态验证码等，具体以界面要求的认证内容为准。如果他人不同意进行身份认证授权，请您立即停止相关操作。
4、客户知晓并同意其授权期限自授权日起至授信驳回或授信通过且贷款收回止，期间您可以通过前端、后台等查询他人相关的实时信息。
5、您非常重视且履行客户个人隐私保护，不会泄露、收集、存储任何相关信息，因您操作不当或以不正当方式造成隐私泄露的，您应向客户和我们进行赔偿，并承担相应的法律责任。
6、一旦因您转借或泄露个人账密、恶意跳过或伪造客户授权、私自保存或他用客户报告等个人原因造成对客户和我们的不良影响，我们有权单方面作出封号等措施，由此造成的一切损失和法律责任概由您自行承担。
<br>
三、免责声明<br>
1、您理解并同意，在使用本服务过程中，可能会遇到不可抗力等因素，导致服务中断。出现此类情况时，我们将努力及时进行修复，但是由此给您造成的损失，我们在法律允许的范围内免责，对于法律范围内不能免责的部分，您有权要求我们赔偿。前述情况包括但不限于：
（1）、本服务公告的系统停机维护期间；
（2）、因通讯设备出现故障不能进行数据传输的；
（3）、因台风、地震、海啸、洪水、停电、战争、恐怖袭击、疫情等不可抗力的因素，造成本服务系统障碍不能执行作业的；
（4）、由于病毒攻击、第三方服务问题或政府行为等原因而造成的服务中断或者延迟。
（5）、用户操作不当或非客户授权或非本服务认可的使用行为。
2、您在使用本服务过程中，可能会遇到各类信息或其他用户行为带来的风险，我们不对任何信息的真实性、准确性、适用性及合法性承担责任，也不对因侵权行为给您造成的损害负责。
3、您理解并同意，本服务并非为某些特定目的而设计，如果因为服务原因导致决策不当、操作失败而带来的人员伤亡、财产损失或环境破坏等，我们不承担法律责任。
4、本服务提供的信息仅作为参考，在您使用本服务时应自行考量并自负风险。
5、我们依据本协议约定获得处理违法违规内容的权利不构成我们的义务或承诺，我们不能保证及时发现违法违规行为或进行相应处理。
<br>
四、计费规则和消费使用说明<br>
1、我们将根据不同用户使用本服务的情况和综合评估而进行差异化定价，故您使用的服务价格可能和其他用户不同。另外，您若不接受您所使用的服务价格或产品，您可全部或部分停止使用相应的服务；若您继续使用相关服务，则视为您认可相应的服务定价和产品。
2、由于本服务采用网络服务的形式且用户数量较大，我们无法一对一的与您协商本服务的使用及计费规则，请您密切注意本服务页面或交易、支付页面的相应说明及展示。
3、为使您能够持续使用本服务，请您及时付清全部应付款项。另外，请您按需妥善选择消费方式，所有预充值款的消费结余无法提现或退还。
4、除客户以本服务界面为准的付费外，您无权以我们的名义向客户收取其他任何费用，由此造成的一切损失和法律责任概由您自行承担。
<br>
五、其他<br>
1、	通知条款
本协议履行过程中，我们传递给您的书面通知，按照提供的通讯地址交邮后第三个自然日即视为送达；通知形式还包括本服务页面公告或信息推送、公司官方公告、向您发送电子邮件、手机短信和通讯软件等电子方式，在采用电子方式进行通知的情况下当日即视为送达。
2、	本协议在履行过程中发生争议，可以协商解决，协商不成的，可向有管辖权的人民法院提起诉讼。为减轻各方诉讼成本，加快诉讼效率，各方同意争议解决可采用视听传输技术等方式开庭。在争议处理期间，本协议不涉及争议部分的条款仍须履行。
3、	协议签订及履行地：山西省太原市长风西街1号丽华大厦A座兴业银行股份有限公司太原分行。

		</p>
	</body>
</html>
