.mui-bar-nav{
	border: 0;
}
.balance{
	height: 3.3rem;
	position: relative;
}
.balance img{
	width: 100%;
	height: 3.3rem;
}
.balance p{
	height: 1rem;
	line-height: 1rem;
	font-size: .27rem;
	position: absolute;
	bottom: 0;
	left: .45rem;
	color: #999999;
}
.mui-input-row {
	height: .9rem;
	margin: .35rem .27rem .12rem;
	border-bottom: 1px solid #eaeaea;
}
.mui-input-row label{
	height: .9rem;
	line-height: .9rem;
	padding: 0;
	font-size: .3rem;
	width: 30%;
	color: #444444;
}
.mui-input-row label~input{
	width: 70%;
	height: .9rem;
	line-height: .9rem;
	padding: 0;
	border: 0;
	margin: 0;
	border-radius: 0;
	font-size: .28rem;
	color: #777777;
}
p.tip{
	display: inline-block;
	background-color: #F6F6F6;
	color: #949494;
	font-size: .24rem;
	padding: 0 .15rem;
	height: .4rem;
	line-height: .4rem;
	border-radius: .1rem;
	margin-left: .27rem;
}
button.mui-btn-block{
	width: 6rem;
	height: 1rem;
	line-height: 1rem;
	font-size: .3rem;
	padding: 0;
	margin: 3rem .75rem 0;
	border-radius: .5rem;
	background-color: #478ffb;
	border: 0;
	color: #FFFFFF;
	box-shadow: 0 0 8px #478FFB;
}